<p id="notice"><%= notice %></p>



<nav class="navbar navbar-default">


          <div class=" project_heading"> <h1>Project Management</h1></div>


        <ul class="nav navbar-nav navbar-right">
        <li>   <button type="button" class="btn btn-link  btn-setiing">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"> <%= link_to "settings", settings_path %></li>

      </ul>


    </nav>




    <div class="row test">
      <div class="col-xs-6 col-md-2 side-bar">
        <h2 class="side-title">Project Members</h2>

            <%= render('members/index') %>
      </div>

       <div class="col-md-10">
        <div class="row">
        <div class="col-md-12">
        <div class="avatar">
        <%= image_tag @member.avatar.url(:medium) %>
         </div>
         <div class="member_name text-capitalize">
        <%= @member.lastname + " " + @member.firstname %>
         </div>

        </div>

        <div class="col-md-12">
         <button type="button" class="btn btn-default report-btn inverse">
           Create Report
        </button>
        </div>


        <div class="col-md-12">
         <div class="table-responsive">
         <table class="table table-bordered table-text ">
            <thead class="">
              <tr class="table-header  table-text">
                <th>Task name</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Estimated hour</th>
                <th>Hour spent</th>
                <th>Shedule varience</th>

              </tr>
            </thead>

            <tbody>
              <% @tasks.each do |task| %>
                <tr  class="table-striped">
                  <td><%= task.task_name %></td>
                  <td><%= task.start_date %></td>
                  <td><%= task.end_date %></td>
                  <td><%= task.estimated_hour %></td>
                  <td><%= task.hour_spent %></td>
                  <td><%= task.shedule_varience %></td>

                </tr>
              <% end %>
            </tbody>
        </table>
        <div class="pagi">
       <%= will_paginate @posts, renderer: BootstrapPagination::Rails, previous_label: "|<", next_label: ">|", inner_window: 1, outer_window: 0 %>
       </div>
        </div>
        </div>
       </div>

       </div>
    </div>
